
// [ BUTTON ]

// [ decorated button ]
.button {
    max-width: max-content;
    padding: 10px 20px;
    border: 1px solid $yellow;
    background: rgba($dark, 0.5);
    cursor: pointer;
    transition: background 0.25s;

    span { 
        display: block;
        max-width: 100%;
        margin: 0 19px;
        color: $white;
        font-family: $f-body;
        font-size: 1.5rem;
        transform: scaleX(1.2);     // crutch: to visually widen 'Syne' font with weight less than 600
        font-weight: $f-medium;
        text-align: center;
        text-transform: uppercase;
    }

    &:hover { background: rgba($dark, 0.9); }
}
.button-big {
    @extend .button;

    padding: 10px 25px;

    span { font-size: 2.5rem; }
}

.button-wide {
    @extend .button;

    max-width: 300px;
    padding: 10px 60px;
}


// [ no decor button ]
.button-plain {
    @extend .widen-font;

    color: $yellow;
    font-family: $f-body;
    font-size: 1.4rem;
    text-transform: uppercase;

    &:hover { color: $white; }
}

.button-red {
    border-color: #FA2A42;
}