
// [ ICONS ]

 // [ social icons ]
.social-icon {
    max-width: 20px; max-height: 25px; 
    margin: 0 10px;
    opacity: 0.25;
    transition: opacity 0.25s;

    &:hover { 
        opacity: 0.4;
    }
}