@import "http://fonts.fontstorage.com/import/notcourier.css";
@import 'Normalize.css';
:root {
  --m-tiny: 20px;
  --m-small: 50px;
  --m-medium: 70px;
  --m-big: 100px;
  --m-large: 125px;
}

.mt-1 {
  margin-top: 1px !important;
}

.mt-2 {
  margin-top: 2px !important;
}

.mt-3 {
  margin-top: 3px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.ml-1 {
  margin-left: 1px !important;
}

.ml-2 {
  margin-left: 2px !important;
}

.ml-3 {
  margin-left: 3px !important;
}

.ml-4 {
  margin-left: 4px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.mr-1 {
  margin-right: 1px !important;
}

.mr-2 {
  margin-right: 2px !important;
}

.mr-3 {
  margin-right: 3px !important;
}

.mr-4 {
  margin-right: 4px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.mb-1 {
  margin-bottom: 1px !important;
}

.mb-2 {
  margin-bottom: 2px !important;
}

.mb-3 {
  margin-bottom: 3px !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mt--1 {
  margin-top: -1px !important;
}

.mt--2 {
  margin-top: -2px !important;
}

.mt--3 {
  margin-top: -3px !important;
}

.mt--4 {
  margin-top: -4px !important;
}

.mt--5 {
  margin-top: -5px !important;
}

.mt--10 {
  margin-top: -10px !important;
}

.mt--20 {
  margin-top: -20px !important;
}

.mt--30 {
  margin-top: -30px !important;
}

.mt--40 {
  margin-top: -40px !important;
}

.mt--50 {
  margin-top: -50px !important;
}

.ml--1 {
  margin-left: -1px !important;
}

.ml--2 {
  margin-left: -2px !important;
}

.ml--3 {
  margin-left: -3px !important;
}

.ml--4 {
  margin-left: -4px !important;
}

.ml--5 {
  margin-left: -5px !important;
}

.ml--10 {
  margin-left: -10px !important;
}

.ml--20 {
  margin-left: -20px !important;
}

.ml--30 {
  margin-left: -30px !important;
}

.ml--40 {
  margin-left: -40px !important;
}

.ml--50 {
  margin-left: -50px !important;
}

.mr--1 {
  margin-right: -1px !important;
}

.mr--2 {
  margin-right: -2px !important;
}

.mr--3 {
  margin-right: -3px !important;
}

.mr--4 {
  margin-right: -4px !important;
}

.mr--5 {
  margin-right: -5px !important;
}

.mr--10 {
  margin-right: -10px !important;
}

.mr--20 {
  margin-right: -20px !important;
}

.mr--30 {
  margin-right: -30px !important;
}

.mr--40 {
  margin-right: -40px !important;
}

.mr--50 {
  margin-right: -50px !important;
}

.mb--1 {
  margin-bottom: -1px !important;
}

.mb--2 {
  margin-bottom: -2px !important;
}

.mb--3 {
  margin-bottom: -3px !important;
}

.mb--4 {
  margin-bottom: -4px !important;
}

.mb--5 {
  margin-bottom: -5px !important;
}

.mb--10 {
  margin-bottom: -10px !important;
}

.mb--20 {
  margin-bottom: -20px !important;
}

.mb--30 {
  margin-bottom: -30px !important;
}

.mb--40 {
  margin-bottom: -40px !important;
}

.mb--50 {
  margin-bottom: -50px !important;
}

.flex-col {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.flex-col-center-top {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ico-15 {
  max-width: 15px !important;
}

.ico-16 {
  max-width: 16px !important;
}

.ico-17 {
  max-width: 17px !important;
}

.ico-18 {
  max-width: 18px !important;
}

.ico-19 {
  max-width: 18px !important;
}

.ico-20 {
  max-width: 20px !important;
}

.ico-21 {
  max-width: 20px !important;
}

.ico-22 {
  max-width: 22px !important;
}

.widen-font, .credit-card input, .remark, label, .card-price .plan-type, .card-price .price, .subtitle, h5, .h5, .button-plain, .contacts .contacts-social a span {
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

@font-face {
  font-family: "Syne";
  src: url("../fonts/Syne.ttf") format("truetype");
}
::-webkit-scrollbar {
  width: 7px;
  cursor: alias;
}

::-webkit-scrollbar-thumb {
  background: #1d232d;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:active {
  background: #171c24;
  -webkit-transition: background 0.25s ease-in;
  transition: background 0.25s ease-in;
}

::-webkit-scrollbar-track {
  border: none;
  background: transparent;
}

html {
  font: 10px "Syne", sans-serif;
  font-weight: 400;
}

body {
  background: #030405;
  color: #FCF4DF;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #FCF4DF;
}

svg.bg-img {
  fill: #FCF4DF !important;
  opacity: 0.05;
  z-index: -1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

nav {
  width: 100%;
  height: 50px;
  z-index: 100;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(9, 11, 14, 0.5);
  backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -khtml-backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 -5px 10px 5px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 0 -5px 10px 5px rgba(0, 0, 0, 0.85);
  -khtml-box-shadow: 0 -5px 10px 5px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: 0 -5px 10px 5px rgba(0, 0, 0, 0.85);
}

nav .navlink {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  height: 100%;
  margin: 0 10px;
  color: #FCF4DF;
  font-family: "Syne", sans-serif;
  font-size: 1.5rem;
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  -webkit-transition: color 0.25s, border-color 0.25s;
  transition: color 0.25s, border-color 0.25s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .navlink:hover {
  color: white;
  border-color: #FCF4DF;
}

header {
  --min-h: 700px;
  position: relative;
  width: calc( 100vw - var(--m-large) );
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .wrapper {
  position: relative;
  width: 100%;
  max-height: calc( 90vh - 50px );
  min-height: var(--min-h);
}

header img.background-img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  position: absolute;
  top: -70px;
  max-height: calc(100% + 100px);
  opacity: 0.2;
  z-index: -1;
}

header .logo {
  max-width: 300px;
  margin-top: 18vh;
}

header .CTA {
  margin-top: 5vh;
}

header .icons {
  margin-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#crew {
  height: 100%;
  padding: var(--m-small) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#crew .crew-info, #crew .crew-photo {
  padding: 0 var(--m-small);
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#crew .crew-info .logo {
  max-width: 120px;
  margin: 0;
}
#crew .crew-info .crew-name {
  display: block;
  margin-bottom: 5px;
  color: #FCF4DF;
  font-size: 2rem;
  line-height: 1;
}
#crew .crew-info .crew-age {
  display: block;
  margin-bottom: calc(var(--m-tiny) + 5px);
  color: rgba(252, 244, 223, 0.6);
  font-size: 1.7rem;
  line-height: 1;
}
#crew .crew-info p {
  max-width: 70%;
  margin-left: 0;
}
#crew .crew-photo img {
  max-height: 60vh;
}

#gallery {
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  padding: var(--m-small) 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#gallery .fit-identity, #gallery .photo-slider {
  padding: 0 var(--m-small);
  min-height: 100%;
}
#gallery .fit-identity {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  max-width: 270px;
  min-width: 150px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#gallery .fit-identity .logo {
  max-width: 100%;
  margin: 0;
}
#gallery .fit-identity .icons {
  margin-top: var(--m-tiny);
}
#gallery .photo-slider {
  -webkit-box-flex: 5;
      -ms-flex: 5 0 320px;
          flex: 5 0 320px;
  min-width: 320px;
}

main {
  position: relative;
  width: calc( 100vw - var(--m-large) );
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  min-height: 500px;
  margin: 0 auto;
  overflow: hidden;
}

svg.fit-img {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
  max-width: 274px;
  height: 350px;
}

svg.dots {
  position: absolute;
  right: 0;
  top: 800px;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
  max-width: 300px;
  height: 260px;
}

.map {
  position: relative;
  width: 100%;
  max-height: 550px;
  overflow: hidden;
}
.map .button, .map .button-big {
  z-index: 100;
  position: absolute;
  left: 20px;
  bottom: 50px;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}
.map .button:hover + img, .map .button-big:hover + img {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}
.map img {
  width: 100%;
  -webkit-transition: -webkit-filter 0.25s;
  transition: -webkit-filter 0.25s;
  transition: filter 0.25s;
  transition: filter 0.25s, -webkit-filter 0.25s;
}

.contacts-wrapper {
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  padding: 0 var(--m-tiny);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contacts-wrapper .contacts, .contacts-wrapper .working-hours {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 320px;
          flex: 1 0 320px;
  min-width: 320px;
  margin-bottom: var(--m-small);
}

.contacts .contacts-plain {
  margin: 0;
}
.contacts .contacts-plain span {
  display: inline-block;
  min-width: 60px;
}
.contacts .contacts-plain span::after {
  content: ":";
}

.contacts .contacts-social {
  margin: 0;
  margin-top: calc( var(--m-tiny) + 10px);
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.contacts .contacts-social a {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts .contacts-social a:hover {
  color: #F5DC54;
}
.contacts .contacts-social a:hover .social-icon {
  fill: #F5DC54 !important;
  opacity: 0.7;
}
.contacts .contacts-social .social-icon {
  position: relative;
  margin: 0;
  top: 2px;
  margin-right: 12px;
  opacity: 1;
}
.contacts .contacts-social a span {
  display: inline-block;
}

.working-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.working-hours p {
  margin: 0;
  margin-top: 5px;
  line-height: 1;
  font-size: 2rem;
}
.working-hours span {
  display: inline-block;
  min-width: 100px;
}
.working-hours .weekday {
  margin-top: 15px;
}
.working-hours .weekday::after {
  content: ":";
}

footer {
  position: relative;
  margin-top: var(--m-big);
  padding: var(--m-small);
  padding-bottom: calc( var(--m-small) - 10px );
  background: #090B0E;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .icons {
  margin-bottom: calc( var(--m-tiny) / 2 );
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .phone-number {
  color: rgba(252, 244, 223, 0.25);
  font-family: "Syne", sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
}

footer nav {
  margin-top: calc( var(--m-tiny) / 2 );
  padding-bottom: 2px;
  background: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
}

footer .bg-img {
  fill: #FCF4DF;
  width: 65vw;
  min-height: 150px;
  opacity: 0.015 !important;
  position: absolute;
  left: 10vw;
  bottom: -30px;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}

.button, .button-big {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 10px 20px;
  border: 1px solid #F5DC54;
  background: rgba(9, 11, 14, 0.5);
  cursor: pointer;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}
.button span, .button-big span {
  display: block;
  max-width: 100%;
  margin: 0 19px;
  color: #FCF4DF;
  font-family: "Syne", sans-serif;
  font-size: 1.5rem;
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
.button:hover, .button-big:hover {
  background: rgba(9, 11, 14, 0.9);
}

.button-big {
  padding: 10px 25px;
}
.button-big span {
  font-size: 2.5rem;
}

.button-plain {
  color: #F5DC54;
  font-family: "Syne", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.button-plain:hover {
  color: #FCF4DF;
}

.social-icon {
  fill: #FCF4DF;
  max-width: 20px;
  max-height: 25px;
  margin: 0 10px;
  opacity: 0.25;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
.social-icon:hover {
  opacity: 0.4;
}

h2 {
  margin: var(--m-medium) 0;
  color: #FCF4DF;
  font-family: "Suissnord", sans-serif;
  font-size: 2.8rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
h2::before {
  content: "= ";
  color: #F5DC54;
}

h4, .h4 {
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: var(--m-tiny);
  color: #FCF4DF;
  font-family: "Syne", sans-serif;
  font-size: 1.7rem;
  font-weight: 800;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
h4 + h4, h4 + .h4, .h4 + h4, .h4 + .h4 {
  margin-top: var(--m-small);
}
h4::after, .h4::after {
  content: ".";
}

h5, .h5 {
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: var(--m-tiny);
  color: #FCF4DF;
  font-family: "Syne", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
h5 ~ h5, h5 ~ .h5, .h5 ~ h5, .h5 ~ .h5 {
  margin-top: var(--m-small);
}

.subtitle {
  display: inline-block;
  color: rgba(252, 244, 223, 0.6);
  font-size: 1.7rem;
  margin-bottom: 10px;
}
.subtitle::after {
  content: ":";
}

p {
  max-width: 55%;
  min-width: 320px;
  color: #FCF4DF;
  font-family: "Syne", sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 2;
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  margin-top: var(--m-small);
}

section {
  width: 100%;
}
section + section {
  margin-top: var(--m-small);
}
section p {
  margin-left: var(--m-small);
}
section p:last-of-type {
  margin-bottom: 0;
}
section p + .gallery, section p + .gallery-small-horizontal, section p + .gallery-small-vertical, section p + .gallery-wide-horizontal, section p + .gallery-wide-vertical {
  margin-top: var(--m-small);
}
section .button, section .button-big {
  margin-top: var(--m-small);
  margin-left: var(--m-small);
}

.gallery, .gallery-small-horizontal, .gallery-small-vertical, .gallery-wide-horizontal, .gallery-wide-vertical {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--m-small);
}
.gallery .photo, .gallery-small-horizontal .photo, .gallery-small-vertical .photo, .gallery-wide-horizontal .photo, .gallery-wide-vertical .photo {
  position: relative;
  display: inline-block;
  aspect-ratio: 5/3;
  overflow: hidden;
  cursor: pointer;
}
.gallery .photo[caption], .gallery-small-horizontal .photo[caption], .gallery-small-vertical .photo[caption], .gallery-wide-horizontal .photo[caption], .gallery-wide-vertical .photo[caption] {
  overflow: visible;
}
.gallery .photo::after, .gallery-small-horizontal .photo::after, .gallery-small-vertical .photo::after, .gallery-wide-horizontal .photo::after, .gallery-wide-vertical .photo::after {
  content: attr(caption);
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-top: var(--m-tiny);
  color: #FCF4DF;
  font-size: 1.5rem;
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
.gallery .photo:hover img, .gallery-small-horizontal .photo:hover img, .gallery-small-vertical .photo:hover img, .gallery-wide-horizontal .photo:hover img, .gallery-wide-vertical .photo:hover img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}
.gallery .photo img, .gallery-small-horizontal .photo img, .gallery-small-vertical .photo img, .gallery-wide-horizontal .photo img, .gallery-wide-vertical .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-filter 0.25s ease-in;
  transition: -webkit-filter 0.25s ease-in;
  transition: filter 0.25s ease-in;
  transition: filter 0.25s ease-in, -webkit-filter 0.25s ease-in;
}

.gallery-wide-horizontal, .gallery-wide-vertical {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--m-tiny);
}

.gallery-small-horizontal, .gallery-small-vertical {
  width: calc(100% + 2 * var(--m-tiny)) !important;
  left: calc(-1 * var(--m-tiny));
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.gallery-small-horizontal .photo, .gallery-small-vertical .photo {
  min-width: 200px;
  max-width: 260px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100px;
          flex: 1 0 100px;
  margin: var(--m-tiny);
}

.gallery-wide-horizontal .photo, .gallery-small-horizontal .photo {
  aspect-ratio: 5/3;
}

.gallery-wide-vertical .photo, .gallery-small-vertical .photo {
  aspect-ratio: 4/5;
}

.photo-slider {
  position: relative;
  max-width: 66vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.photo-slider .slider-controls {
  padding: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.photo-slider .ctrl {
  position: relative;
  aspect-ratio: 1/1;
  width: 0;
  height: 0;
  padding: 1.5vw;
  margin: 0 var(--m-tiny);
  border: 1px solid #F5DC54;
  background: rgba(9, 11, 14, 0.5);
  cursor: pointer;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -khtml-border-radius: 100%;
  -webkit-border-radius: 100%;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.25);
  -khtml-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.25);
}
.photo-slider .ctrl:hover {
  background: rgba(9, 11, 14, 0.9);
}
.photo-slider .ctrl.inactive {
  opacity: 0.5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.photo-slider .ctrl svg {
  fill: #F5DC54;
  max-width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.photo-slider img {
  max-width: 100%;
}

.card-price {
  display: inline-block;
  width: 275px;
  margin-right: var(--m-tiny);
  margin-bottom: var(--m-tiny);
}

.card-price * {
  display: block;
}

.card-wrapper {
  padding-top: calc( var(--m-tiny) + 15px );
  padding-bottom: calc( var(--m-tiny) + 22px );
  padding-left: calc( var(--m-tiny) + 7px );
  padding-right: calc( var(--m-tiny) + 7px );
  background: #090B0E;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}
.card-wrapper:hover {
  background: rgba(9, 11, 14, 0.9);
}

.card-price .plan-title {
  margin-bottom: calc( var(--m-tiny) + 10px );
}
.card-price .plan-title::after {
  content: "";
}

.card-price .price {
  color: rgba(252, 244, 223, 0.6);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-price .plan-type {
  width: 0;
  overflow: visible;
  font-size: 1.7rem;
}

.card-price .CTA {
  max-width: 100% !important;
  width: 100% !important;
  margin-top: var(--m-tiny);
}

#request {
  width: 60%;
}

#request .card-price {
  width: 100%;
}

body.preload {
  overflow: hidden;
}

body.loaded {
  overflow: auto;
}

#preloader {
  background: #030405;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  z-index: 9999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#preloader::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 0.2vw solid #FCF4DF;
  padding: 2vw;
  -webkit-animation: preloader 1.5s cubic-bezier(0.2, 0, 0.8, 1) infinite;
          animation: preloader 1.5s cubic-bezier(0.2, 0, 0.8, 1) infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

@-webkit-keyframes preloader {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
    border-radius: 0;
  }
  50% {
    border-radius: 100px;
    border-color: #F5DC54;
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
    border-radius: 0;
  }
}

@keyframes preloader {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
    border-radius: 0;
  }
  50% {
    border-radius: 100px;
    border-color: #F5DC54;
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
    border-radius: 0;
  }
}
form {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

label {
  display: block;
  margin-bottom: var(--m-tiny);
  color: #A39D8D;
  font-size: 1.4rem;
  font-weight: 400;
}

input {
  width: 100%;
  height: 50px;
  padding: 0 var(--m-tiny);
  background: #090B0E;
  font-size: 1.4rem;
  color: #FCF4DF;
  border: 2px solid #27303d;
  -webkit-transition: border-color 0.25s;
  transition: border-color 0.25s;
}
input.digit {
  font-weight: 700;
}
input.digit::-webkit-input-placeholder {
  font-weight: 700;
  font-family: "NotCourierSans" !important;
}
input.digit::-moz-input-placeholder {
  font-weight: 700;
  font-family: "NotCourierSans" !important;
}
input::-webkit-input-placeholder {
  color: #313c4c;
}
input:hover {
  border-color: #3b485c;
}
input:focus {
  border-color: #F5DC54;
}
input + input {
  margin-top: var(--m-tiny);
}

button {
  margin-top: var(--m-small);
}

.remark {
  margin-bottom: var(--m-tiny);
  color: #A39D8D;
  font-size: 1.4rem;
  font-weight: 400;
}

.credit-card {
  width: 80%;
  height: auto;
  aspect-ratio: 16/9;
  padding: calc( var(--m-tiny) + 15px);
  background: #090B0E;
  border: 2px solid #27303d;
  border-radius: 6px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.credit-card .signs, .credit-card .card-number, .credit-card .extra-data {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  height: 33.33%;
}
.credit-card input {
  height: auto;
  padding: 0;
  font-family: "NotCourierSans";
  font-size: 1.9rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-indent: 0;
  border: none;
  background: transparent;
}
.credit-card input::-webkit-input-placeholder {
  font-weight: 700;
  font-family: "Syne", sans-serif;
}
.credit-card input::-moz-input-placeholder {
  font-weight: 700;
  font-family: "Syne", sans-serif;
}

.credit-card .signs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.credit-card .signs .chip {
  width: 56px;
  height: 40px;
  background: #A39D8D;
  border-radius: 3px;
}
.credit-card .signs .company {
  display: inline-block;
  color: #A39D8D;
  font-size: 2rem;
  font-weight: 800;
}

.credit-card .extra-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.credit-card .extra-data .card-holder input, .credit-card .extra-data .expired-data input {
  letter-spacing: 0;
  -webkit-transform: scaleX(1.05);
          transform: scaleX(1.05);
}
.credit-card .extra-data .card-holder input::-webkit-input-placeholder {
  font-size: 1.7rem;
}
.credit-card .extra-data .card-holder input::-moz-input-placeholder {
  font-size: 1.7rem;
}
.credit-card .extra-data .card-holder, .credit-card .extra-data .expired-data, .credit-card .extra-data .cvc {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.credit-card .extra-data .card-holder {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
}
.credit-card .extra-data .expired-data {
  -ms-flex-preferred-size: 115px;
      flex-basis: 115px;
}
.credit-card .extra-data .cvc {
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
}