
// [ HEADER ]
header {
    --min-h: 700px;

    position: relative;
    width: calc( 100vw - var(--m-large) );
    max-height: calc( 90vh - 50px ); height: var(--min-h); min-height: var(--min-h);
    margin: 0 auto;
    @include flex-align;

    .wrapper {
        position: relative;
        width: 100%; 
        max-height: calc( 90vh - 50px ); min-height: var(--min-h);
    }
}

// [ home page ]
 // background image
header img.background-img { 
    user-select: none;
    pointer-events: none;
    position: absolute;
    top: -70px;
    max-height: calc(100% + 100px);
    opacity: 0.2;
    z-index: -1;
}
 // FIT logo
header .logo {
    max-width: 300px;
    margin-top: 18vh;
}
 // CTA button
header .CTA {
    margin-top: 5vh;
}
 // social icons
header .icons {
    margin-top: 20vh;
    @include flex-align;
}


// [ crew page ]
#crew {
    height: 100%;
    padding: var(--m-small) 0;
    @include flex-align(flex-start, flex-start);

    // crew info & photo sections
    .crew-info, .crew-photo {  
        padding: 0 var(--m-small);
        flex: 1 0 200px;
        min-height: 100%;
        @include flex-align(flex-start, flex-start, column);
    }

 // -- CREW INFO ---------------
    // logo
    .crew-info .logo { 
        max-width: 120px;
        margin: 0;
    }

    // crew name & age
    .crew-info .crew-name { 
        display: block;
        margin-bottom: 5px;
        color: $white;
        font-size: 2rem;
        line-height: 1;
    }
    .crew-info .crew-age { 
        display: block;
        margin-bottom: calc(var(--m-tiny) + 5px);
        color: rgba($white, 0.6);
        font-size: 1.7rem;
        line-height: 1;
    }

    // paragraph
    .crew-info p { 
        max-width: 70%;
        margin-left: 0;
    }

 // -- CREW PHOTO -------------
    .crew-photo img {
        max-height: 60vh;
    }

}