
// [ MAIN ]
main {
    position: relative;
    width: calc( 100vw - var(--m-large) );
    max-height: max-content; min-height: 500px;
    margin: 0 auto;
    overflow: hidden;

}

 // set > SVG width & position
svg.fit-img {
    @include align(left, top);
    max-width: 274px; height: 350px;
}
svg.dots {
    @include align(right, top, absolute, 0, 800px);
    max-width: 300px; height: 260px;
}

 // map
.map {
    position: relative;
    width: 100%; max-height: 550px;
    overflow: hidden;

    .button {
        z-index: 100;
        @include align(left, bottom, absolute, 20px, 50px);

        &:hover + img { filter: brightness(60%) }
    }

    img {
        width: 100%;
        transition: filter 0.25s;
    }
} 


// [ contacts page ]
.contacts-wrapper {
    max-height: max-content;
    padding: 0 var(--m-tiny);
    flex-wrap: wrap; 
    @include flex-align(center, flex-start);

    .contacts, .working-hours {
        flex: 1 0 320px;
        min-width: 320px;
        margin-bottom: var(--m-small);
    }
}

 // phone, email ...
.contacts .contacts-plain {
    margin: 0;

    span { 
        display: inline-block;
        min-width: 60px;

        &::after { content: ':' }
    }
}
 // social links
.contacts .contacts-social {
    margin: 0;
    margin-top: varset('--m-tiny + 10px');
    transform: scaleX(1);

    a { 
        max-width: max-content; 
        margin-top: 5px;
        @include flex-align(flex-start);

        &:hover {
            color: $yellow;
            .social-icon { fill: $yellow !important; opacity: 0.7 }     // FIX: SVG fill (not working)
        }
    }
    .social-icon { 
        position: relative;
        margin: 0; 
        top: 2px; 
        margin-right: 12px; 
        opacity: 1; 
    }
    a span { @extend .widen-font; display: inline-block }
}

.working-hours {
    @include flex-align(flex-start, flex-start);

    p { 
        margin: 0;
        margin-top: 5px;
        line-height: 1;
        font-size: 2rem;
    }
    span { display: inline-block; min-width: 100px; }
    .weekday {   
        margin-top: 15px;

        &::after { content: ':' }
    }
}


// [ MAIN: AUTH ]
main.auth {
    padding: var(--m-medium) 0;

    .logo {
        width: 100px;
    }

    form {
        max-width: 50%;
    }
}
main.admin {
    width: calc(100vw - var(--sidebar-w));
    margin-left: auto;
    margin-right: 0;
    transition: width 0.25s;
    padding: var(--m-small) varset('m-tiny + 10px');
}