
// [ MAIN ]
main {
    position: relative;
    width: calc( 100vw - var(--m-large) );
    max-height: max-content; min-height: 500px;
    margin: 0 auto;
    overflow: hidden;

}

 // set > SVG width & position
svg.fit-img {
    @include align(left, top);
    max-width: 274px; height: 350px;
}
svg.dots {
    @include align(right, top, absolute, 0, 800px);
    max-width: 300px; height: 260px;
}

